<h1 class="title>"<%= @post.title %></h1>


    create at <%= time_ago_in_words(@post.created_at) %> ago |
    <%= link_to 'edit', edit_post_path(@post) %> | 
    <%= link_to 'Destroy',@post ,method: :delete %>

<p>
    <%= @post.body %>

</p>

<div>
    <h2><%= @post.comments.count %> comments</h2>
    <%= render @post.comments %>
    <h3>join duscution</h3>
    <%= render "comments/form" %>
</div>