<h1 class="title>"<%= @post.title %></h1>


<p>
    create at <%= time_ago_in_words(@post.created_at) %> ago |
    <%= link_to 'edit', edit_post_path(@post) %> | 
    <%= link_to 'Delete' , post_path(@post), method: :delete, data: { confirm:  'are you sure?' } %>
</p>

<p>
    <%= @post.body %>
</p>